<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330171280079-1ks33viqimfp11s81ep7g35d3c09lqs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330171280079-1ks33viqimfp11s81ep7g35d3c09lqs2</string>
	<key>API_KEY</key>
	<string>AIzaSyCD13LEWtfiIgq5YSfaGmcikVGQ0dZb9gU</string>
	<key>GCM_SENDER_ID</key>
	<string>330171280079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moisesCordova.HealthApp</string>
	<key>PROJECT_ID</key>
	<string>healthapp-f49f3</string>
	<key>STORAGE_BUCKET</key>
	<string>healthapp-f49f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330171280079:ios:9d5bcc82c9053914</string>
	<key>DATABASE_URL</key>
	<string>https://healthapp-f49f3.firebaseio.com</string>
</dict>
</plist>