<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>openAIKey</key>
	<string>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</string>
	<key></key>
	<string></string>
</dict>
</plist>
